body{
  background-color: #EAF6F6;
}
hr{
  background-color: #EAF6F6;
  width: 5%;
  border-style: dotted  none none;
  border-width: 5px;
  border-color:grey;
}
h1,h3{
  color: #66bfbf;
}
